mixin b-recommend(recommendH2, recommendH3_1, recommendH3_2, recommendH3_3, recommendH4, recommendText)
	+b.recommendWrap
		+b.wrap
			+e.recommendH2!=recommendH2
			+b.recommendH3Block
				+b.recommendH3Item
					+e.recommendH3ItemImage
						img(src="img/111.jpg")
					+e#toggle-block-1.recommendH3!=recommendH3_1
				+b.recommendH3Item
					+e.recommendH3ItemImage
						img(src="img/222.jpg")
					+e#toggle-block-2.recommendH3!=recommendH3_2
				+b.recommendH3Item
					+e.recommendH3ItemImage
						img(src="img/333.jpg")
					+e#toggle-block-3.recommendH3!=recommendH3_3
			+b.recommendTextBlock
				+b#howToBegin
					a(href='#howToBegin').show-block X
					div
						+e._p
							| Пора раскрыть САМЫЙ БОЛЬШОЙ СЕКРЕТ тем, кто дочитал до этого места — дать вам подробную инструкцию по вашим дальнейшим действиям.
						+e._p
							|Специально для тех, кто готов что-то предпринять, чтобы перестать постоянно думать о деньгах и начать по-настоящему жить, напишу подробно, с картинками, что конкретно вам надо делать прямо сейчас. По шагам.
						+e._p
							|Сперва прочитайте всё до конца, а потом вернитесь к п. 1 и начинайте делать!
						+e._p
							|1. Вам нужно открыть счёт у брокера. Это совершенно БЕСПЛАТНО. Для этого заходите на сайт Binomo, кликнув мышкой сюда. Брокер ведет деятельность вне РФ, на Ангилье . Это хорошо так как значит что никакой российский кризис им не страшен! Сайт откроется в новом окне, а на этот текст вы сможете переключаться и смотреть, чтобы не забыть, что нужно делать. Вот, что вы увидите:

						+e._img
							img(src="img/screens/screen1.jpg")

						+e._p
							| В форму регистрации вводите свой e-mail и ваш будущий пароль (придумайте его сами и запишите где-нибудь). Потом кликаете мышкой на зеленую кнопку с белой надписью "Начать зарабатывать".
							| Появиться сообщение: Перейдите по ссылке в письме, отправленном на адрес. Зайдите в ваш e-mail, найдите письмо от Binomo и нажмите на кнопку ПОДТВЕРДИТЬ РЕГИСТРАЦИЮ.
						+e._p
							|3. Поздравляю, вы прошли регистрацию! Далее вам предложат открыть ДЕМО или реальный счет. Если вы уверены в себе, то открывайте сразу реальный и начинайте зарабатывать РЕАЛЬНЫЕ деньги. Если все еще боитесь открывайте демо счет.

						+e._img
							img(src="img/screens/screen2.jpg")

						+e._p
							|Если решили открыть реальный счет, воспользуйте промокодом при пополнении: gQBevAGh2TUh. Он добавит +30% к вашим деньгам, в итоге бонус составит 55%
						+e._p
							|4. Далее в верхнем меню перейдите на вкладку Помощь и выберите Как торговать. Там вам последовательно расскажут как торговать на платформе Биномо.

						+e._img
							img(src="img/screens/screen3.jpg")

						+e._p
							| Затем нажимаем Начать торговать. Отобразиться платформа с счетом в виртуальные 1000$.
							| Используя их, вы можете тренироваться. Тоже БЕСПЛАТНО! Не переживайте, за эти виртуальные деньги вы никому ничего никогда не заплатите.
						+e._p
							|5. Все дальнейшие действия делать также легко, как считать до четырёх:

						+e._img
							img(src="img/screens/screen4.jpg")

						+e._p
							|I Выбираете валютную пару, то есть для курса каких валют вы будете делать прогноз. Например, чтобы выбрать пару USD EUR (сколько евро стоит 1 доллар), как на рисунке, кликаем на USD EUR.
						+e._p
							|II Назначаете сумму сделки. Минимальная сумма сделки — 1$.
						+e._p
							|III Выбираете время сделки. Это время, через которое курс выбранных в п. I валют будет сравниваться с вашим прогнозом. Минимальное время сделки — 1 минута. Я обычно выбираю или 1, или 5 минут.
						+e._p
							| IV Делаете прогноз. Кликайте либо на ВЫШЕ, либо на НИЖЕ. Сразу после клика сделка открывается.
						+e._p
							|После того, как сделка открыта, нужно подождать то время, которое вы выбрали как «время сделки». Если ваш прогноз оправдался, то вы увидите закрытую сделку и увеличенную сумму на счету:

						+e._img
							img(src="img/screens/screen5.jpg")

						+e._p
							|Вот так, за 1 минуту, вы только что превратили 1000 рублей в 1850. Я же говорила, что это очень просто! Но реальные деньги вы начнёте зарабатывать только после того, как пополните ваш счёт. Это можно сделать с любой пластиковой картой Виза или Мастеркард, либо через Киви, Вебмани, Яндекс Деньги. Минимальная сумма пополнения составляет 500 рублей. Кликайте на жёлтую кнопку с белой надписью «ПОПОЛНИТЬ»:

						+e._img
							img(src="img/screens/screen6.jpg")

						+e._p
							|Появится окно с выбором способа пополнения счёта:

						+e._img
							img(src="img/screens/screen7.jpg")

						+e._p
							| А теперь самое интересное! У брокера Биномо сейчас идёт акция — на ваш счёт будет зачислено на 25% больше, если вы воспользуете купоном gQBevAGh2TUh то получите еще +30%. Итого +55%.
							| Только представьте, это как будто вам начислили премию на вашей работе, например, те же 2000 рублей, а на руки вы получили 3100 рублей! Неплохо, да??? Я бы даже сказала, чудесно! Когдя я начинала, то этого не было. Нопредложение ограничего, так что торопитесь! Пополнять счёт очень просто. Вот и вся инструкция! После пополнения счёта переходите к п. 5 и начинайте зарабатывать реальные деньги!
						+e._p
							|Хватит терять время, берите и делайте это! И уже через пару месяцев будете отдыхать где-нибудь на тёплых белоснежных песчанных пляжах Мальдив на берегу Индийского океана. И жить в отдельном бунгало пятизвёздного отеля с личным поваром. Или ездить на автомобиле вашей самой смелой мечты. Или жить в своей квартире, либо доме вашей мечты...
						+e._p
							|И больше не будет никаких долгов и выживаний от одной мизерной зарплаты до другой!
				+b#whatIsBinary
					a(href='#whatIsBinary').show-block X
					div
					+e._p
						| Бинарные опционы — это абсолютно новый, очень простой, быстрый и невероятно выгодный способ заработка на финансовых рынках. Как вы, может быть, знаете, на этих рынках постоянно покупается и продаётся разная валюта: доллары, евро, фунты и т.д. 24 часа в сутки, 7 дней в неделю, то есть непрерывно, без выходных и праздников.
					+e._p
						|Ваша задача — бесплатно открыть счёт для купли/продажи валюты на сайте таких опционов (это называется сайт брокера). После этого нужно лишь пополнить этот счёт, назначить сумму сделки и правильно определять, куда в следующие минуты или часы пойдёт курс валюты, например, доллара.
					+e._p
						|Есть всего два варианта: выше или ниже. Время сделки, на которое вы хотите сделать прогноз, вы выбираете сами — от 1 минуты до 3 часов. Если определили правильно, то заработали почти в 2 раза больше суммы сделки. Если — неправильно, то сумма сделки списывается с вашего счёта.
					+e._p
						|Это и будет ваша работа, а называться вы будете «трейдер». Так работать вы сможете в любые дни, в любое время суток и находясь где угодно. Вам будет нужен лишь компьютер и доступ в интернет. Видите, всё очень просто, справится даже ребёнок!
					+e._img
						img(src="img/IMG_2428.jpg")

				+b#comments
					a(href='#comments').show-block X
					div
						mixin list(data)
							ul
								each item in data.comments
									li
										div.comment-wrap
											div.img-wrap
												img.avatar(src=item.avatar)
											div.text-wrap
												span.number= item.number
												span.name= item.name
												span.date= item.date
												div.text= item.text
												div.controls
													a(href="/")
														span Share
													a(href="/")
														span Reply
										if item.sublevel
											+list(item)
						- var data = {"comments":[{"avatar":"img/avatars/avatar1.jpg","name":"Павел Антонов","date":"18 мин. назад","text":"Настя, а зачем сумму сделки ставить все 4000 руб, ты что????? ставь не больше 2%, как пишет ниже Андрей Салманов. То есть тебе надо было сумму сделки ставить 80 руб (2% от 4000 руб), не больше! Если на счету всего 350 руб, то сумма сделки не более 30 руб. Самое надежное: пополнять минимум на 1500 руб и сумму сделки всегда ставить 30 руб (это как раз 2% от 1500 руб) Я позавчера прочитал статью и комменты, думал-думал и решил сам проверить. И с первого раза с 350 руб у меня тоже не получилось... я был в шоке, думал что опять какой-то развод. вообщем получилось только со второго раза, когда пополнил на 1500 руб... и с них поднял 100$ за пару часов. Так как я не азартный))) то решил вчера продолжить и опять удачно, 339$ сейчас на счете) не так круто, как у Елены конечно но вообще все работает!"},{"avatar":"img/avatars/avatar2.jpg","name":"Аня Зимова","date":"25 мин. назад","text":"А у меня что-то не получается ( Пополнила счёт на 2000 рублей, мне зачислили 3100, я поставила сумму сделки тоже 3100 на радостях, а прогноз вышел неправильный ("},{"avatar":"img/avatars/avatar3.jpg","name":"Александр Градич","date":"41 мин. назад","text":"Я уже 2 года торгую. Такой халявы как сейчас еще не было, ловите момент пока рубль скачет."},{"avatar":"img/avatars/avatar4.jpg","name":"Дмитрий Титов","date":"52 мин. назад","text":"Да, реально работает. Я вкладывал 800 баксов!!!!! Сейчас уже 95674 рублей!!!!! Я так просто никогда в жизни ещё деньги не зарабатывал! Анна, я Вас люблю!!!!!!"},{"avatar":"img/avatars/avatar5.jpg","name":"Татьяна Тарасова","date":"56 мин. назад","text":"Уважаю таких людей как Вы. Желаю успехов в делах"},{"avatar":"img/avatars/avatar6.jpg","name":"Андрей Саламахин","date":"16.05.16 22:43","text":"Даже если вы будете идеально придерживаться системы следования за трендом, некоторые сделки будут оказываться проигрышными, что является нормальным. В самом деле, вы не можете рассчитывать на постоянные выигрыши, так как ни один трейдер в мире не способен на это! У вас могут быть неудачные часы или даже дни, и Вы совершите несколько убыточных сделок, поэтому важно строго соблюдать следующее правило инвестирования: каждая открываемая вами позиция должна составлять не более 2% вашего капитала. Если ваши инвестиции в депозит составляют 50 долларов, ставка не должна превышать 1 доллар. Самое сложное в трейдинге не предсказание, а самоконтроль, рынок от вас никуда не убежит.”"},{"avatar":"img/avatars/avatar7.jpg","name":"Дмитрий Сергеев","date":"16.05.16 21:48","text":"Владислав выбор за вами. Я тоже иногда торгую опционами и могу сказать что так можно прилично заработать"},{"avatar":"img/avatars/avatar8.jpg","name":"Владимир Скрябов","date":"16.05.16 21:33","text":"Фигня все это, по мне так лучше работать на моей работе за 25 т.р. Не много, зато стабильно."},{"avatar":"img/avatars/avatar9.jpg","name":"Сергей Стрелков","date":"16.05.16 21:21","text":"А я закинул вчера 10.000 руб. с кредитной карты (беспроцентный период возврата 30 дней). В 19:10 сделал первую ставку 1500 р. В 21:45 на счету было 22380, вернул 10000 обратно на карту. То есть плюс 12380 за 2.5 часа. Кто бы мог подумать?! Автору спасибо!!!"},{"avatar":"img/avatars/avatar10.jpg","name":"Михаил Батурин","date":"16.05.16 20:39","text":"Люди! Я за сегодня закрыл одну сделку + 334 000 руб. Все работает отлично!!!"},{"avatar":"img/avatars/avatar11.jpg","name":"Анна Талалачева","date":"16.05.16 20:09","text":"РАБОТАЕТ!!!!!!!!!!!!! ПОЛОЖИЛА ЧЕТЫРЕ ДНЯ НАЗАД 350 РУБЛЕЙ И СЕГОДНЯ НА КАРТОЧКУ ПОЛУЧИЛА 23000!!!!!!!!!!!!!!!!!!! Анна, СПАСИБО ЗА МЕТОД!!!!!!"},{"avatar":"img/avatars/avatar12.jpg","name":"Мирон Лисов","date":"16.05.16 19:17","text":"Хочу сказать что 30 тысяч в день это далеко не предел. Я всего полгода торгую опционами и сумма моего заработка уже перевалила за 50 тыс. рублей. В день! Правда торгую каждый день часов по 10 из дома."}]}
						+list(data)